@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Mono&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(211, 206, 196);
    min-height: 200vh;
     
}

h2{
    text-align: center;
    text-transform: uppercase;
    
    color: aqua;
    border: solid 1px rosybrown ;
    background-color:rosybrown ;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.navig nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
}

.profil{
    display: flex;
    border: solid 1px skyblue;
    border-radius: 10px;
    width: 100%;
    height:210px;
    margin: 0 auto;
    background-color: skyblue;
    justify-content: space-between;
        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
        align-items: center;
        gap: 60px;
        margin-bottom: 30px;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        font-size: clamp(14px, 2.5vw, 18px);
    

}
.profil:hover{
    background-color:pink;
    transition: 0.5s;
}
.profil fieldset{
     
    border: solid 1px gray;
    border-radius: 10px;
    width: 100%;
    height:210px;
    margin: 0 auto;
    background-color:gray;
    justify-content: space-between;
        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
        align-items: center;
        gap: 40px;
        font-size: clamp(14px, 2.5vw, 18px);
        


}
.profil fieldset:hover{
    background-color: pink;
    transition: 0.5s;
    cursor: pointer;
}
.infos{
    text-align: center;
}

.profil img{
    width: 200px;
    height: 150px;
    margin: 30px;
    border-radius: 50%;

}